{% extends '/base.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block body %}
<style>
    input{
        display: block;
        margin: 7px;
        width: 120px;
        height: 35px;
        font-size: 15px;
        font-weight: bold;
        background: gray;
        color: white;
        cursor:pointer;
    }
    input:hover{
        background-color: #2f2f2f;
    }
</style>

        <div id="paymentButtons">
            <b>Your shoes are in the bascket. When do you wish to pay?</b>
            {% for payment in  paymentMethods %}
                <a href="/authorize/{{ payment }}"><input type="button" value="{{ payment }}" class="pay" /></a>

            {% endfor %}
        </div>
        <div id="paymentContent" style="display:none";>
            <div style="width: 500px; margin: auto; padding-top: 150px; padding-bottom: 30px;">
                <img src="https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg"
                     style="width: 500px; margin: auto;">
            </div>

            <!--Klarna container-->
            <div id="klarna_container" style="width: 500px; margin: auto;"></div>
            <div style="width: 500px; margin: auto;">
                <!--Button to trigger authorize call-->
                <button class="authorize" style="width: 500px; height: 50px; margin: auto;">Your Buy Button</button>
            </div>
        </div>

<script>
    $(document).ready(function(){

       $('.pay').click(function(){
           $("paymentContent").display('block');

       })
    })
</script>
{% endblock %}
