{% extends '/base.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block body %}
    <style>
        input{
            display: block;
            margin: 7px;
            width: 120px;
            height: 35px;
            font-size: 15px;
            font-weight: bold;
            background: gray;
            color: white;
            cursor:pointer;
        }
        input:hover{
            background-color: #2f2f2f;
        }
    </style>

        <div id="paymentButtons">
        <b>Your shoes are in the bascket. When do you wish to pay?</b>
        {% for payment in  paymentMethods %}
            <a href="/load/{{ payment }}/{{ sourceId }}"><input type="button" value="{{ payment }}" class="pay" /></a>

        {% endfor %}
    </div>

{% endblock %}
